<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dmitry Korolev CV</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" }>
</head>
<body>
<div class="cv">
    <section>
        <h1>Дмитрий Королев</h1>
        <h2>ML Engineer</h2>
        <div class="contacts">
            <div class="contact">
                <div class="contact__type">Github</div>
                <div class="contact__value">
                    <a href="https://github.com/dkorolev13" target="_blank">github.com/dkorolev13</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact__type">Email</div>
                <div class="contact__value">
                    <a href="mailto:dkorolev13@gmail.com">dkorolev13@gmail.com</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact__type">Phone</div>
                <div class="contact__value">
                    <div>+79258686281</div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3>Проекты</h3>
        <div class="projects">
            <div class="projects__descriptions">
                <div class="projects__name"><a href="https://github.com/dkorolev13/painting_style_classificator" target="_blank">Telegram bot: @PaintingStyleClassificatorBot</a></div>
                <div class="projects__details">
                    <ul>
                        <li>Нейросеть для определения художественного стиля картины на основе ResNet-50</li>
                        <li>Aiogram;</li>
                        <li>FastAPI;</li>
                        <li>Docker;</li>
                        <li>Oracle Cloud.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="projects">
            <div class="projects__descriptions">
            <div class="projects__name"><a href="https://github.com/dkorolev13/django-project" target="_blank">Django приложение детектирования лица с помощью каскада Хаара</a></div>
            <div class="projects__details">
                <ul>
                    <li><a href="http://130.61.241.48/face" target="_blank">Перейти на страницу приложения</a></li>
                    <li>Django;</li>
                    <li>PostgreSQL;</li>
                    <li>NGINX;</li>
                    <li>Docker;</li>
                    <li>Oracle Cloud.</li>
                </ul>
            </div>
        </div>
        </div>
        <div class="projects">
            <div class="projects__descriptions">
                <div class="projects__name"><a href="https://github.com/dkorolev13/cv_webpage" target="_blank">Web версия резюме</a></div>
                <div class="projects__details">
                    <ul>
                        <li>Flask;</li>
                        <li>HTML, CSS;</li>
                        <li>Oracle Cloud.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3>Опыт работы</h3>
        <div class="experience">
            <div class="experience__date">09.2017 - по н.в.</div>
            <div class="experience__descriptions">
                <div class="experience__name">Разработчик Qt/C++ (Алмаз-Антей)</div>
                <div class="experience__company">Приложение для определения точности координатной привязки спутниковых
снимков (под NDA):
</div>
                <div class="experience__details">
                    <ul>
                        <li>Кроссплатформенное приложение (Windows, Linux);</li>
                        <li>Позволяет оценить распределение ошибок координатной привязки, в том числе графически;</li>
                        <li>Ресурсоемкие вычисления реализованы в отдельном потоке.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="experience__date"> </div>
            <div class="experience__descriptions">

                <div class="experience__company">Оптическая навигационная система (под NDA):</div>
                <div class="experience__details">
                    <ul>
                        <li>Класс компенсирующий дисторсию оптики;</li>
                        <li>Класс парсинга данных лазерного дальномера;</li>
                        <li>Класс вычисления параметров полета по соседним снимкам.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h3>Курсы и образование</h3>
        <div class="education">
            <div class="education__date">2022</div>
            <div class="education__descriptions">
                <div class="education__name">Нейронные сети и компьютерное зрение</div>
                <div class="education__company"><a href="https://stepik.org/cert/1391499" target="_blank">Stepik</a>
                </div>
            </div>
        </div>
        <div class="education">
            <div class="education__date">2021</div>
            <div class="education__descriptions">
                <div class="education__name">Математика и Python для анализа данных</div>
                <div class="education__company"><a
                        href="https://www.coursera.org/account/accomplishments/certificate/DJ3RWF94PYUT"
                        target="_blank">Coursera</a></div>
            </div>
        </div>
        <div class="education">
            <div class="education__date">2005 - 2010</div>
            <div class="education__descriptions">
                <div class="education__name">Прикладная математика</div>
                <div class="education__company">Московский государственный строительный университет</div>
            </div>
        </div>
    </section>
    <sectoion>
        <h3>Навыки</h3>
        <div>
            Python, PyTorch, C++, SQL, Linux, Docker, AWS, Oracle Cloud, Git
        </div>
    </sectoion>
</div>
</body>
</html>
